.Container_Border {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    
}

#Actus_Container {
    height: auto;
    width: 100%;
}

#Actus_Title {
    color: #ffffff;
    border-bottom: solid 2px red;
    width: 80%;
    text-align: right;
    margin-top: 100px;
}

#Actus_Title h2 {
    display: inline;
    border-top-right-radius: 15%;
    padding: 0.2em 0.5em;
    background-color: red;
}

.Actus_Content {
    margin: auto;
    padding: 0;
    display: flex;
    width: 80%;
    margin-top: 80px;
}

.Actus_Content img {
    width: 30%;
    border-radius: 1.3%;
    opacity: 0.8;
    transition: transform 0.3s ease-in-out;
}

.Actus_Content p {
    margin-left: 30px;
    color: #dfdddd;
    width: 45%;
}

.Actus_Content img:hover {
    opacity: 1;
    transform: scale(1.05);
}

.Actus_Border {
    display: flex;
    justify-content: center;
    width: 60%;
    border-bottom: solid 2.5px #a49f9f;
    opacity: 0.3;
    margin: 40px auto;
}

.readMoreLink {
    display: flex;
    align-items: end;
}

.readMoreLink:hover {
    text-decoration: underline;
}


/* Media queries for screens up to 767px */
@media screen and (max-width: 767px) {
    #Actus_Title {
        text-align: center;
        margin-top: 50px;
        /* Correction : la valeur "auto" est supprimée */
    }

    #Actus_Title h2 {
        display: block;
        border-top-right-radius: 0;
    }

    .Actus_Content {
        margin-top: 30px;
        flex-direction: column;
        /* Correction : changer la direction de flexbox à "column" */
        align-items: center;
        /* Correction : centrer les éléments horizontalement */
    }

    .Actus_Content img {
        width: 100%;
        margin: 10px 0 20px 0;
        opacity: 1;
        /* Correction : marges ajoutées en haut et en bas */
    }

    .Actus_Content img:hover {
        transform: none;
    }

    .Actus_Content p {
        margin-left: 0;
        /* Correction : supprimer la marge gauche */
        width: 100%;
        /* Correction : étendre la largeur à 100% */
    }

    .Actus_Border {
        width: 90%;
    }

    .readMoreLink {
        display: flex;
        justify-content: end;
        width: 100%;
        margin-top: 50px;
    }


}