.Container_Border {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    
}

#Actus_Container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin: 0 0 100px 0;
}

#Actus_Title {
    color: #ffffff;
    border-bottom: solid 2px red;
    width: 80%;
    text-align: right;
    margin-top: 100px;
}

#Actus_Title h2 {
    display: inline;
    border-top-right-radius: 15%;
    padding: 0.2em 0.5em;
    background-color: red;
}


/* TOUT CE QUI CONCERNE LE BLOC ACTUS */
    /* La Box Actus en display flex */

.Actus_Content {
    display: flex;
    margin: 80px auto auto auto;
    padding: 0;
    width: 80%;
}


.Actus_Infos {
    display: flex;
}

    /* La box Actus avec remplissage en display flex */

.Actus_Img {
    display: contents;
    width: 35%;
    border-radius: 1.3%;
}

.Actus_Img img {
    width: 40%;
    border-radius: 1.3%;
}


.Actus_Content p {
    margin-left: 30px;
    color: #dfdddd;
    width: 45%;
}

.Actus_Border {
    display: flex;
    justify-content: center;
    width: 60%;
    border-bottom: solid 2.5px #a49f9f;
    opacity: 0.3;
    margin: 40px auto;
}

.Actus_StrongTitle {
    font-size: 20px;
}
