/* Banner Actus */
#Actus_Banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    
}
#Actus_BannerTitle {
    color: #ffffff;
    border-bottom: solid 2px red;
    width: 80%;
    text-align: right;
}
#Actus_BannerTitle h2 {
    display: inline;
    border-top-right-radius: 15%;
    padding: 0.2em 0.5em;
    background-color: red;
}

/* Actus Container (la base du bloc ) */
#Actus_Container {
    display: flex;
    flex-direction: column-reverse; /* Le display en collumn-reverse permet d'afficher les news de la plus récente
                                    à la plus ancienne */

    width: 100%;
    height: auto;

    margin: auto; /* Permet d'alligner le contenu correctement au niveau des marges par rapport au width */

}

/* Infos Container (la base du bloc ) */
#Infos_Container {
    display: flex; /* Display Flex pour collé les élements les uns à coté des autres */
    margin: 50px auto 50px auto;
    width: 80%;
    height: auto;
}

/* Tout ce qui touche au bloc image et l'image en elle même */
.Infos_ActusImage {
    
}

.Infos_ActusImage img {
    width: 430px;
    height: auto;
    border-radius: 0 20px 0 0;

}

/* Tout ce qui touche au bloc infos texte et les textes à l'intérieur */
.Infos_ActusTexte {
    display: grid;
    margin-left: 50px;
    width: 100%;
}

.Infos_Author {
    font-size: 12.5px;
}

.Infos_DateTexte {

}

.Infos_Date {
    
}

.Infos_Title {
    font-size: 25px;
    line-height: 1;
    margin-top: 30px;
    transition: 0.5s ease-in-out;
}

.Infos_Title:hover {
    color: rgb(255, 83, 83);
}

.Infos_Description {
    margin-top: 30px;
}

.Infos_ReadMore {
    text-align: end;
}

.Infos_ReadMore a{
    transition: 0.5s ease-in-out;
}

.Infos_ReadMore a:hover {
    color: rgb(255, 83, 83);
}


/* La séparation entre chaques news */

.Infos_Border {
    display: flex;
    justify-content: center;
    width: 60%;
    border-bottom: solid 2.5px #a49f9f;
    opacity: 0.3;
    margin: 25px auto;
}