@media screen and (min-width: 320px) {

/* Article_Container (la base du bloc ) */
.Article_Container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin: auto;
    
}

.Article_Infos {
    width: 90%;
    margin: auto;

}


.Article_Infos p {
    margin-top: 2em;
    /* margin-bottom: 1.5em; */
    line-height: 1.75;
    letter-spacing: 0.03em;
}


.Article_Infos p a {
    text-decoration: underline;
    font-style: italic;
    color: aliceblue;
}
.Article_Span {
    font-style: italic;
    font-weight: bold;
}
.container_image {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    height: 100%;

    overflow: hidden;
}

.container_image .image_container {
    width: 100%;
    height: 100%;
    
    overflow: hidden;

    border: 1.15px solid grey;
    border-radius: 15px 15px 0 0;

    margin: 20px 0 15px 0;
}

.container_image .image_container img {
    display: block;
    box-sizing: border-box;
    object-fit: cover;

    width: 100%;
    height: 100%;

    transition: transform 0.3s ease-in-out;
}

.Infos img {
    height: 20px;
    width: 20px;
    filter: invert(var(--icon-color));
}

.Infos_DTA {
    display: flex;
    flex-wrap: wrap;
    margin: 5% auto;
    justify-content: space-evenly;
}

.responsive-youtube {
    position: relative;
    padding-bottom: 56.25%;
    /* Ratio 16:9 (56.25%) */
    height: 0;
    
}

.responsive-youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 3px 3px 0 darkred;
}

@media screen and (min-width: 600px) {
.container_image .image_container {
        max-width: 90%;

    }

}
}
