#Footer_Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #242526;
    padding: 2em 2em 1em 2em;
    text-decoration: none;
}

#Footer_Container ul {
    list-style-type: none;
    /* Supprime les puces des listes */
    padding-left: 0;
    /* Supprime le retrait à gauche des listes */
}


#Footer_Container .column {
    width: 30%;
    margin-bottom: 20px;
}

#Footer_Container .column:first-child,
#Footer_Container .column:last-child {
    width: 20%;
}

#Footer_Container p {
    margin-bottom: 0;

}

.email {
    font-style: italic;
    text-decoration: underline;
    transition: 0.5s ease-in-out;
}

.email:hover {
    color: rgb(255, 83, 83);
}

@media screen and (max-width: 768px) {

    #Footer_Container .column {
        width: 100%;
        /* Modifier la largeur à 100% pour les petits écrans */
        margin-bottom: 20px;
    }

    #Footer_Container .column:first-child {
        order: -1;
        /* Changez l'ordre pour mettre le lecteur Twitch en premier */
    }

}