/* Styles généraux du footer */
footer {
    background-color: #242526;
    padding: 20px;
    color: #ffffff;
    font-size: 14px;
}

/* Styles des colonnes */
#footer_content {
    display: flex;
    flex-wrap: wrap;
}

.footer_column {
    padding: 10px;
    box-sizing: border-box;
}

#footer_left {
    width: 33.33%;
    /* Adjust the width of the first column as needed */
}

#footer_right {
    width: 33.33%;
    /* Adjust the width of the second column as needed */
}

#footer_twitch {
    width: 33.33%;
    /* Adjust the width of the third column as needed */
}

/* Styles des liens */
.footer_column ul {
    list-style: none;
    padding: 0;
}

.footer_column ul li {
    margin-bottom: 5px;
}

.footer_column ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer_column ul li a:hover {
    text-decoration: underline;
}

/* Styles des contacts */
.footer_column p {
    margin-bottom: 5px;
}

/* Styles du bas du footer */
#footer_bottom {
    margin-top: 20px;
    text-align: center;
    color: #999999;
}

@media (max-width: 768px) {
    #footer_content {
        display: flex;
        flex-direction: column;
        /* Modifier la direction du flex en colonne */
    }

    .footer_column {
        padding: 10px;
        box-sizing: border-box;
        width: 80%;
        /* Ajustement pour que toutes les colonnes aient une largeur de 80% */
        margin: 0 auto;
        /* Centre les colonnes horizontalement */
    }

    #footer_twitch {
        width: 33.33%;
        /* Adjust the width of the third column as needed */
    }
}