:root {
    --current-mode: dark;
    --background: #18191a;
    --header-color: #242526;
    --footer-color: #242526;
    --text-color: white;
    --header-footer-border: 0;
    --icon-color: 1;

    --opposite-mode: light;
    --opposite-background: #f0f0f0;
    --opposite-header-color: #f0f0f0;
    --opposite-footer-color: #f0f0f0;
    --opposite-text-color: black;
    --opposite-header-footer-border: 3px;
    --opposite-icon-color: 0;
}

/*MAIN*/

body {
    line-height: 1.5;
    background-color: var(--background);
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
}

.no-copy {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}


/*HEADER*/

#Header_Container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--header-color);
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 9999;
    border: solid;
    border-width: 0 0 var(--header-footer-border) 0;
}

#Header_Nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

#Header_Nav ul li {
    font-size: 20px;
    margin-right: 20px;
    transition: transform 0.3s ease-in-out;
}

#Header_Nav ul li:hover {
    transform: scale(1.2);
}

#Header_Nav ul li:last-child {
    margin-right: 0;
}

#Header_Nav ul li a,
#Header_Nav a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: "Arial Rounded", sans-serif;
}

#Header_Nav ul li a:hover {
    color: #2c61f2;
}

.menu-burger {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: var(--text-color);
    margin: 5px 0;
}

#mode_toggle {
    width: 0;
    height: 0;
    visibility: hidden;
}

#interrupteur {
    right: 10px;
    width: 70px;
    /* Changement ici */
    height: 30px;
    position: absolute;
    display: block;
    background: #696969;
    border-radius: 30px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

}

#interrupteur:after {
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    top: 1px;
    left: 1px;
    background-color: #000;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

#mode_toggle:checked+#interrupteur {
    background: #cdcdcd;
}

#mode_toggle:checked+#interrupteur:after {
    transform: translateX(42px);
    /* Changement ici */
    background-color: #fff;

}

.fa_icones {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    display: flex;
    width: 70%;
    justify-content: space-between;
    font-size: 15px;

}

.share-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 10px;

    background-color: rgb(59, 60, 60);
    /* couleur par défaut */
    border-radius: 8px;
}

.share-button i {
    font-size: 1.8em;
    margin: 2px;
    color: #000;
    /* couleur de l'icône par défaut */
}

.share-button.facebook {
    background-color: #4267B2;
    /* Couleur d'arrière-plan Facebook */
}

.share-button.facebook i {
    color: #FFF;
    /* Couleur d'icône blanche pour un meilleur contraste */
}

.share-button.twitter {
    background-color: #1DA1F2;
    /* Couleur d'arrière-plan Twitter */
}

.share-button.twitter i {
    color: #FFF;
}

.share-button.whatsapp {
    background-color: #25D366;
    /* Couleur d'arrière-plan WhatsApp */
}

.share-button.whatsapp i {
    color: #FFF;
}

.share-button.discord {
    background-color: #7289da;
    /* Couleur d'arrière-plan Discord */
}

.share-button.discord i {
    color: #FFF;
}


blockquote {
    background-color: #2a2a2a;
    /* Fond légèrement plus clair que le fond principal */
    border-left: 3px solid darkred;
    /* Bordure gauche orange */
    padding: 50px 25px;
    /* Espacement intérieur */
    font-style: italic;
    /* Style de police en italique */
    margin: 20px 0;
    /* Espacement autour du blockquote */
    font-size: 1.1em;
    /* Taille de police légèrement augmentée */
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    /* En cherchant bien,
    parle moi de la série des jeux " Neptunia " par Idea Factory */
}

blockquote::before {
    content: "“";
    /* Icône de citation ouverte */
    font-size: 2em;
    /* Taille de l'icône */
    position: absolute;
    left: 10px;
    /* Positionnement de l'icône à gauche */
    top: 0;
    /* Positionnement de l'icône en haut */
    color: #f39c12;
    /* Couleur de l'icône */
}

@media (max-width: 768px) {
    #Header_Container {
        display: flex;
        height: auto;
        padding: 20px;
        justify-content: flex-start;
    }

    #Header_Nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    #Header_Nav ul.show {
        display: flex;
        /* width: 100%; */
        align-items: flex-start;
        height: 100vh;
    }

    #Header_Nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 18px;
    }

    .menu-burger {
        display: block;
    }
}

/*FOOTER*/

@media screen and (min-width: 320px) {

    #twitter-container {
        width: 100;
        margin-top: 50px;
    }

    footer {
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--footer-color);
        margin-top: 0;
    }

    .socials {

        width: 80%;
        display: flex;
        margin: auto;

        justify-content: center;
        font-size: 2.5em;

    }

    .socials img {
        height: 30px;
        width: 30px;
    }

    .twitch-player {
        display: none;
        width: 80%;
        margin: auto 0;
        position: relative;
        padding-bottom: 56.25%;
        /* Ratio 16:9 */

    }

    .socials a {
        margin-right: 20px;
    }


    .socials a .fa-twitch {
        color: #9146FF;
    }

    .socials a .fa-discord {
        color: #5865F2;
    }

    .socials a .fa-twitter {
        color: #1DA1F2;
    }

    .twitch-player iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .footer-bottom {
        width: 100%;

        display: flex;
        justify-content: center;

        margin-top: 20px;
    }

    .footer-bottom a {
        margin: 0 10px 0 10px;
    }

    .footer-bottom span {
        margin: 0 10px 0 10px;
    }
}