#Partenariats_Container {
    width: 80%;
    margin: auto;
    margin-top: 150px;
}

.Partenariats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.Partenariats_Block {
    width: 220px;
    margin-bottom: 20px;
    margin-left: 50px;
    
}


.Partenariats_Block img {
    width: 75%;
    height: auto;
    filter: saturate(0%);
    transition: filter 0.5s ease-in-out;

}

.Partenariats_Block img:hover {

    filter: saturate(100%);
}

@media screen and (max-width: 767px) {

#Partenariats_Container {
        margin-top: 0;

    }


.Partenariats_Block img {
     margin-top: 80px;
     filter: saturate(100%);

    }
}