@media screen and (min-width: 320px) {

/* Star Ocean Container (la base du bloc ) */
#StarOceanR_Container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

#StarOceanR_Infos {
    width: 90%;
    margin: auto;

}
#StarOceanR_Infos img{
    width: 100%;
    margin-bottom: 2em;
}

#StarOceanR_Infos p {
    margin-top: 2em;
    margin-bottom: 1.5em;
}


#StarOceanR_Infos p a {
    text-decoration: underline;
    font-style: italic;
    color: red;
}
}
