/* Star Ocean Container (la base du bloc ) */
#StarOceanR_Container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

#StarOceanR_Infos {
    width: 90%;
    margin: auto;

}
#StarOceanR_Infos img{
    display: flex;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
}

#StarOceanR_Infos p {
    margin-top: 2em;
    margin-bottom: 1.5em;
}


