#Twitch_Container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 20px;
}

#Twitch_Container iframe {
    border-radius: 5px;
}

@media (max-width: 768px) {
    #Twitch_Container iframe {
        width: 100%;
    }
}